WindowsAzurePowershell/src/Management.ServiceManagement/Extensions/DomainJoin/PublicSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="Name">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Domain"/>
              <xs:enumeration value="Workgroup"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="JoinOptions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountCreate"/>
      <xs:enumeration value="Win9XUpgrade"/>
      <xs:enumeration value="UnsecuredJoin"/>
      <xs:enumeration value="PasswordPass"/>
      <xs:enumeration value="JoinWithNewName"/>
      <xs:enumeration value="JoinReadOnly"/>
      <xs:enumeration value="InstallInvoke"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="PublicConfig">
    <xs:sequence>
      <xs:element name="Name" type="Name" minOccurs="1"/>
      <xs:element name="User" type="xs:string" minOccurs="1"/>
      <xs:element name="LocalUser" type="xs:string" minOccurs="0"/>
      <xs:element name="NewName" type="xs:string" minOccurs="0"/>
      <xs:element name ="Options" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element name="Option" type="JoinOptions"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OUPath" type="xs:string" minOccurs="0"/>
      <xs:element name="Restart" type="xs:boolean" minOccurs="0"/>
      <xs:element name="Server" type="xs:string" minOccurs="0"/>
      <xs:element name="UnjoinDomainUser" type="xs:string" minOccurs="0"/>
      <xs:element name="Unsecure" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="PublicConfig" type="PublicConfig"/>

</xs:schema>